<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="stylesheet" href="~/css/General.css"/>
    <link rel="stylesheet" href="~/css/IndexStyles.css"/>
    <script src="~/js/Carousel.js"></script>
    <script src="~/js/PopularRoomsLoad.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="page-wrapper">
    <header id="Header">
        <div class="Left">
            <a asp-controller="Home" asp-action="Index">Booking</a>
        </div>
        <div class="Middle">
            <a asp-controller="Home" asp-action="Index" class="opt">Home</a>
            <a asp-controller="Home" asp-action="Services" class="opt">Services</a>
            <a asp-controller="Home" asp-action="Gallery" class="opt">Gallery</a>
            <a asp-controller="Home" asp-action="About" class="opt">About Us</a>
        </div>
        <div class="Right">
            <button class="sign-in">Sign in</button>
        </div>
    </header>
        <nav class="navbar">

        </nav>

        <div class="Main-Wrapper">
            <main id="MainContent">
                @RenderBody()
            </main>
        </div>

        <footer id="Footer">
            <div class="Left-Footer">
                &copy; 2024 Made By Nika Jajanidze. All rights reserved.
            </div>
            <div class="Right">
                <div class="social-container">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="social-container">
                   <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="social-container">
                    <i class="fa-brands fa-linkedin"></i>
                </div>
            </div>
        </footer>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
