<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Home Page</title>
</head>
<body>
    <div id="page-wrapper">
    <header id="Header">
        <div class="Left">
            Navbar Opener
        </div>
        <div class="Right">
            Logo Side
        </div>
    </header>
        <nav class="navbar">

        </nav>

        <div class="Main-Wrapper">
            <main>
                @RenderBody()
            </main>
        </div>

        <footer id="Footer">
        
        </footer>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
