@{
    Layout = "_Layout";
    ViewBag.Title = "Home";
}
@section PopularRooms
{
    <script src="~/js/Carousel.js"></script>
    <script src="~/js/PopularRoomsLoad.js"></script>
    <link rel="stylesheet" href="~/css/IndexStyles.css"/>
}
    <div class="Carousel">
        <div class="leftCont">
            <i class="fa-solid fa-chevron-left left"></i>
        </div>
        <div class="midCont">
            <img src="~/assets/CarouselImage1.jpg" alt="CarouselImage" class="carouselImg visibleImg">
            <img src="~/assets/CarouselImage2.jpg" alt="CarouselImage" class="carouselImg hiddenImg">
            <img src="~/assets/CarouselImage3.jpg" alt="CarouselImage" class="carouselImg hiddenImg">
            <img src="~/assets/CarouselImage4.jpg" alt="CarouselImage" class="carouselImg hiddenImg">
        </div>
        <div class="rightCont">
            <i class="fa-solid fa-chevron-right right"></i>
        </div>
    </div>
    <div class="gotoRoomsCont">
        <a asp-action="Services" asp-controller="Home" class="gotoRooms">Check Rooms</a>
    </div>
    

    <div class="popularRooms">
    </div>