@{
    Layout = "_Layout";
    ViewBag.Title = "Home";
}
    <div class="Carousel">
        <div class="leftCont">
            <i class="fa-solid fa-chevron-left left"></i>
        </div>
        <div class="midCont">
            <img src="~/assets/CarouselImage1.jpg" alt="CarouselImage" class="carouselImg visibleImg">
            <img src="~/assets/CarouselImage2.jpg" alt="CarouselImage" class="carouselImg hiddenImg">
            <img src="~/assets/CarouselImage3.jpg" alt="CarouselImage" class="carouselImg hiddenImg">
            <img src="~/assets/CarouselImage4.jpg" alt="CarouselImage" class="carouselImg hiddenImg">
        </div>
        <div class="rightCont">
            <i class="fa-solid fa-chevron-right right"></i>
        </div>
    </div>
    <a asp-action="Services" asp-controller="Home" class="gotoRooms">Check Rooms</a>

    <div class="popularRooms">
         <div class="roomContainer">
            <img src="~/assets/CarouselImage1.jpg" class="topImg">
            <div class="RoomInfo">
                <div class="roomStat">
                    <div class="statName">name:</div>
                    <div class="statValue">value</div>
                </div>
                 <div class="roomStat">
                    <div class="statName">name:</div>
                    <div class="statValue">value</div>
                </div>
                 <div class="roomStat">
                    <div class="statName">name:</div>
                    <div class="statValue">value</div>
                </div>
                <div class="btnCont">
                    <button class="BookRoom">Book for Today</button>
                </div>
                
            </div>
         </div>
</div>