@{
    Layout = "_Layout";
    ViewBag.Title = "Home";
}
<div class="Carousel">
    <div class="leftCont">
        <i class="fa-solid fa-chevron-left left"></i>
    </div>
    <div class="midCont">
        <img src="~/assets/CarouselImage1.jpg" alt="CarouselImage" class="carouselImg">
        <img src="~/assets/CarouselImage2.jpg" alt="CarouselImage" class="carouselImg">
        <img src="~/assets/CarouselImage3.jpg" alt="CarouselImage" class="carouselImg">
        <img src="~/assets/CarouselImage4.jpg" alt="CarouselImage" class="carouselImg">
    </div>
    <div class="rightCont">
        
        <i class="fa-solid fa-chevron-right right"></i>
    </div>
</div>