@{
    Layout = "_Layout";
    ViewBag.Title = "Home";
}

<div>This is Home</div>
<div class="Carousel">
    <img src="~/assets/CarouselImage1.jpg" alt="CarouselImage">
</div>



<script src="~/js/Carousel.js"></script>