@{
    Layout = "_Layout";
    ViewBag.Title = "Services";
}
@section RoomsScripts
{
    <script src="~/js/LoadRooms.js"></script>
    <link rel="stylesheet" href="~/css/IndexStyles.css"/>
}
<div class="AllRooms">
    
</div>
