@{
    Layout = "_Layout";
    ViewBag.Title = "Services";
}
@section RoomsScripts
{
    <script src="~/js/LoadRooms.js"></script>
    <link rel="stylesheet" href="~/css/Services.css"/>
}
<div class="RoomsList">
    <div class="singleRoom">
        <div class="imgSide">
            <img src="~/assets/testRoom.png" alt="roomPic">
        </div>
        <div class="statsSide">
            <div class="stats">
                <div class="stat">
                    <div class="statHd">
                        Room Number
                    </div>
                    <div class="statVal">
                        400
                    </div>
                </div>
                <div class="stat">
                    <div class="statHd">
                        Floor
                    </div>
                    <div class="statVal">
                        3
                    </div>
                </div>
                <div class="stat">
                    <div class="statHd">
                        Price(per night)
                    </div>
                    <div class="statVal">
                        99.99
                    </div>
                </div>
            </div>
            <div class="BookCont">
                <button class="bookBtn">Book Now</button>
            </div>
        </div>
    </div>
    
</div>
