@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
/* -----------HEADER---------- */


header,footer
{
  background-color: black;
  color:#fff;
  padding: 1%;
}
.Left
{
  display: flex;
  flex: 1;
}

.Left a
{
  font-size: 2em;
  font-weight: 600;
  text-decoration: none;
  color:inherit;
}

.Right 
{
  display: flex;
  flex:1;
  align-items: center;
  justify-content: end;
  gap:5%;
  height: inherit;
}

.category-container
{
  padding: 9px 18px;
  background-color: #fff;
  color: black;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.25s;
  will-change: transform;
}

.category-container a
{
  text-decoration: none;
  font-weight: 600;
  color: #000;
}

.category-container:hover
{
  transform: scale(1.1);
}

header
{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}




/* -----------HEADER---------- */

/* -----------MAIN---------- */

#MainContent
{
  min-height: 80vh;
}



/* -----------MAIN---------- */



/* -----------FOOTER---------- */


#Footer
{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#Footer .Right
{
  gap:15%;
}

.social-container
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

.Left-Footer
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

#Footer .Right i
{
  font-size: 1.7em;
  cursor: pointer;
  transition: 0.25s;
}
.fa-facebook:hover
{
  color:#1877F2;
  transform: scale(1.1);
}

.fa-instagram:hover
{
  color:#E1306C;
  transform: scale(1.1);
}


/* -----------FOOTER---------- */