@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
/* -----------HEADER---------- */


header,footer
{
  background-color: black;
  color:#fff;
  padding: 1%;
}

.fixedHeader
{
  position: fixed;
  color: #000;
  background-color: #fff;
  z-index: 10;
  width: 100%;
  border-bottom: 2px solid #000;
  height: 8vh;
  transition: 0.3s;
}
.fixedopts
{
  padding: 9px 18px;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.25s;
  will-change: transform;
  text-decoration: none;
  font-weight: 600;
}

.Left
{
  display: flex;
  flex: 1;
}

.Left a
{
  font-size: 2.2em;
  font-weight: 700;
  text-decoration: none;
  color:inherit;
}

.Right 
{
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;
  gap:5%;
  height: inherit;
}

.opt
{
  padding: 9px 18px;
  background-color: #fff;
  color: black;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.25s;
  will-change: transform;
  text-decoration: none;
  font-weight: 600;
}
.Right a:hover
{
  transform: scale(1.1);
}

header
{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}




/* -----------HEADER---------- */

/* -----------MAIN---------- */

#MainContent
{
  min-height: 120vh;
}



/* -----------MAIN---------- */



/* -----------FOOTER---------- */


#Footer
{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#Footer .Right
{
  gap:25%;
  align-items: center;
  justify-content: center;
}

.social-container
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

.contactMe
{
  display: flex;
  gap:10%;
  width: 30%;
  display: flex;
  align-items: center;
}

.contactMe i:hover
{
  transform: scale(1.2);
  color: #E1306C;
}

.Left-Footer
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

#Footer .Right i
{
  font-size: 1.7em;
  cursor: pointer;
  transition: 0.25s;
}
.fa-facebook:hover
{
  color:#1877F2;
  transform: scale(1.1);
}

.fa-envelope:hover
{
  color:#E1306C;
  transform: scale(1.1);
}
.fa-linkedin:hover
{
  color:#0072b1;
  transform: scale(1.1);
}



/* -----------FOOTER---------- */