.Carousel {
  display: flex;
  height: 70vh;
  position: relative;
  width: 100%;
  justify-content: center;
  background-color: #000;
}

.carouselImg {
  height: inherit;
  width: 100%;
  position: absolute;
  transition: opacity 0.5s ease;
}

.visibleImg {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.hiddenImg {
  opacity: 0;
  visibility: hidden;
  z-index: 0;
}

.Carousel i {
  color: #fff;
  font-weight: 700;
  position: absolute;
  transform: translateY(-50%);
  font-size: 2em;
}

.midCont {
  width: 80%;
  height: inherit;
  position: relative;
}

.rightCont, .leftCont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  cursor: pointer;
}

.right, .left {
  width: auto;
}

.rightCont:hover, .leftCont:hover 
{
  background-color: rgb(71, 69, 69);
}
